
@model AcmeWebStore.ViewModels.OrderViewModel


<div class='container'>
    <h3 class='center'>Select your products!</h3>
    <div class='center' id='signupAlertDiv'></div>
    <div class="row">
        <form class=" form-group  s12" asp-action="CreateCustomer" id="signUpForm">
       
        </form>
    </div>
</div>

