@model AcmeWebStore.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "CreateCustomer";
}
<div class='container'>
    <h3 class='center'>Create an Account</h3>
    <div class='center' id='signupAlertDiv'></div>
    <div class="row">
        <form class=" form-group  s12" asp-action="CreateCustomer" id="signUpForm">
            <div class="row">
                <div class="form-control   col s6">
                    <input name="firstname" placeholder="First name" id="signUpFirstname" type="text" asp-for="firstName" class='validate' required />
                </div>
                <div class="form-control   col s6">
                    <input name="lastname" placeholder="Last name" id="signUpLastname" type="text" asp-for="lastName" class='validate' required />
                </div>
            </div>
    
            <div class="row">
                <div class='row center'>
                    <button class='btn' id='signUpBtn' value="CreateCustomer">
                        Sign Up
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

    