@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    
}

<h2>Acme Web Store</h2>
<h4>Proudly serving (in new ways again 3.1) our customers from @ViewBag.numStores locations everyday! Over @ViewBag.sales products sold!</h4>

<p>Welcome to Acme! </p>

<button id="newUserButton" class="btn btn-secondary text-white">
   New User
</button>
<button id="signInButton" class="btn btn-primary text-white">
    Sign in
</button>


