@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";

}

<h2>Acme Web Store</h2>
<h4>Proudly serving our customers from @ViewBag.numStores locations everyday! Over @ViewBag.sales products sold!</h4>

<p>Welcome to Acme! </p>

@if (TempData["name"] != null)
{
    <h6>Welcome back @(TempData["name"])!</h6>
    <button id="newOrderButton" class="btn text-white">
        New Order
    </button>
}
@if (TempData["name"] == null) {
<button id="newUserButton" class="btn btn-secondary text-white">
    New User
</button>
<button id="signInButton" class="btn btn-primary text-white">
    Sign in
</button>

}




