@model AcmeWebStore.ViewModels.CustomerViewModel 
@{
    ViewData["Title"] = "SignIn";
}

<div class="container">
    <form id="signin" name="signin" method="post" asp-action="Login">
        <label for="firstName">First Name</label>
        <input class="text" name="firstName" asp-for="firstName" type="text" />
        <label for="lastName">Last Name</label>
        <input name="lastName" type="text" asp-for="lastName" />
        <input class="btn btn-secondary" type="submit" value="Login" />
    </form>
</div>